force-app/main/default/flows/Cancel_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Before_After_Cut_off</name>
        <label>Get Before/After Cut-off</label>
        <locationX>121</locationX>
        <locationY>229</locationY>
        <actionName>CutOffManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Before</targetReference>
        </connector>
        <inputParameters>
            <name>CutOffType</name>
            <value>
                <stringValue>Carrier Memo</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isBeforeCutOff</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Default_Today</name>
        <label>Default Today</label>
        <locationX>495</locationX>
        <locationY>159</locationY>
        <assignmentItems>
            <assignToReference>DefaultDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_After</name>
        <label>Is After</label>
        <locationX>497</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>DefaultDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DayAfterTomorrow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Subscription</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Before</name>
        <label>Is Before?</label>
        <locationX>302</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Is_After</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not</defaultConnectorLabel>
        <rules>
            <name>Is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBeforeCutOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Today</targetReference>
            </connector>
            <label>Is</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>getStopSourceSet</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>Stop_Source__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>List of the Stop Transaction Types</description>
        <name>StopTransactionType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stop</stringValue>
            </value>
        </filters>
        <filters>
            <field>Use_in_Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Transaction_Type__c</object>
        <outputAssignments>
            <assignToReference>varTransactionType.Category__c</assignToReference>
            <field>Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTransactionType.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTransactionType.Message__c</assignToReference>
            <field>Message__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DayAfterTomorrow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +2</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +1</expression>
    </formulas>
    <interviewLabel>Cancel Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTransactionLog</name>
        <label>CreateTransactionLog</label>
        <locationX>836</locationX>
        <locationY>233</locationY>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varTransactionType.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Date__c</field>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>varTransactionType.Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_Source__c</field>
            <value>
                <elementReference>getStopSourceSet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varSubscription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>varTransactionType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Log__c</object>
    </recordCreates>
    <screens>
        <name>Cancel_Subscription</name>
        <label>Cancel Subscription</label>
        <locationX>655</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateTransactionLog</targetReference>
        </connector>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DefaultDate</elementReference>
            </defaultValue>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter Date that the Stop should start.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Chosen date cannot be before {!DefaultDate}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Effective_Date}&gt;={!DefaultDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Expiration_Reason</name>
            <choiceReferences>StopTransactionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expiration Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>stopSource</name>
            <choiceReferences>getStopSourceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stop Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>42</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Get_Before_After_Cut_off</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBeforeCutOff</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSubscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTransactionType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
</Flow>
