force-app/main/default/flows/Cancel_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>getStopSourceSet</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>Stop_Source__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>List of the Stop Transaction Types</description>
        <name>StopTransactionType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stop</stringValue>
            </value>
        </filters>
        <filters>
            <field>Use_in_Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Transaction_Type__c</object>
        <outputAssignments>
            <assignToReference>varTransactionType.Category__c</assignToReference>
            <field>Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTransactionType.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTransactionType.Message__c</assignToReference>
            <field>Message__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Cancel Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTransactionLog</name>
        <label>CreateTransactionLog</label>
        <locationX>467</locationX>
        <locationY>211</locationY>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varTransactionType.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Date__c</field>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>varTransactionType.Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_Source__c</field>
            <value>
                <elementReference>getStopSourceSet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varSubscription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>varTransactionType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Log__c</object>
    </recordCreates>
    <screens>
        <name>Cancel_Subscription</name>
        <label>Cancel Subscription</label>
        <locationX>303</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateTransactionLog</targetReference>
        </connector>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter Date that the Stop should start.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expiration_Reason</name>
            <choiceReferences>StopTransactionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expiration Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>stopSource</name>
            <choiceReferences>getStopSourceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stop Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>135</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Cancel_Subscription</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varSubscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTransactionType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
</Flow>
