force-app/main/default/flows/Carrier_Memo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Tests to see if the current time is before of after cut-off</description>
        <name>Get_Before_After_Cut_off</name>
        <label>Get Before/After Cut-off</label>
        <locationX>222</locationX>
        <locationY>449</locationY>
        <actionName>CutOffManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Before</targetReference>
        </connector>
        <inputParameters>
            <name>CutOffType</name>
            <value>
                <stringValue>Carrier Memo</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isBeforeCutOff</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Default_Today</name>
        <label>Default Today</label>
        <locationX>528</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>DefaultDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnterCarrierMemo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_After</name>
        <label>Is After</label>
        <locationX>521</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>DefaultDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DayAfterTomorrow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnterCarrierMemo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Before</name>
        <label>Is Before?</label>
        <locationX>343</locationX>
        <locationY>451</locationY>
        <defaultConnector>
            <targetReference>Is_After</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Isn&apos;t</defaultConnectorLabel>
        <rules>
            <name>Is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBeforeCutOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Today</targetReference>
            </connector>
            <label>Is</label>
        </rules>
    </decisions>
    <formulas>
        <name>CarrierMemoTransactionType</name>
        <dataType>String</dataType>
        <expression>{!$Setup.VacationTransactions__c.Carrier_Memo_Code__c}</expression>
    </formulas>
    <formulas>
        <description>Adds 2 days to the current date</description>
        <name>DayAfterTomorrow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +2</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +1</expression>
    </formulas>
    <interviewLabel>Carrier Memo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Carrier Memo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateMemoTransaction</name>
        <label>CreateMemoTransaction</label>
        <locationX>800</locationX>
        <locationY>460</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Date__c</field>
            <value>
                <elementReference>Date_Applied</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Memo__c</field>
            <value>
                <elementReference>Enter_Memo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MessageRTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>RecVarSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>MemoTransactionType</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetSubscription</name>
        <label>GetSubscription</label>
        <locationX>51</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTransactionType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>RecVarSubscription</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTransactionLogRecordType</name>
        <label>GetTransactionLogRecordType</label>
        <locationX>50</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Before_After_Cut_off</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transaction_Log__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>MessageRTID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetTransactionType</name>
        <label>GetTransactionType</label>
        <locationX>52</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTransactionLogRecordType</targetReference>
        </connector>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CarrierMemoTransactionType</elementReference>
            </value>
        </filters>
        <object>Transaction_Type__c</object>
        <outputAssignments>
            <assignToReference>MemoTransactionType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>EnterCarrierMemo</name>
        <label>EnterCarrierMemo</label>
        <locationX>662</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateMemoTransaction</targetReference>
        </connector>
        <fields>
            <name>Date_Applied</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DefaultDate</elementReference>
            </defaultValue>
            <fieldText>Date Applied</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Chosen date cannot be before {!DefaultDate}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_Applied}&gt;={!DefaultDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Enter_Memo</name>
            <dataType>String</dataType>
            <fieldText>Enter Memo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>936</locationX>
        <locationY>459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;A carrier memo has been created.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetSubscription</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>DefaultDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBeforeCutOff</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MemoTransactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageRTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecVarSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
</Flow>
