force-app/main/default/flows/ChangeCCEmailAlert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_EZ_Pay_CC_Email_Alert</name>
        <label>Change EZ Pay CC Email Alert</label>
        <locationX>444</locationX>
        <locationY>51</locationY>
        <actionName>Subscription__c.Change_EZ_Pay_CC</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetSubscriptions.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <description>This flow fires when a change is made to the last four or exp_date on a CC from a Recurly Account</description>
    <interviewLabel>ChangeCC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChangeCCEmailAlert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSubscriptions</name>
        <label>GetSubscriptions</label>
        <locationX>328</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_EZ_Pay_CC_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>subscription_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecurlyAccount.recurly_v2__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecurlyAccount</name>
        <label>RecurlyAccount</label>
        <locationX>166</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSubscriptions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecurlyAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>recurly_v2__Recurly_Account__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>recurly_v2__Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RecurlyAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varRecurlyAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
