force-app/main/default/flows/Change_address_on_subscriptions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ChangeofAddressConfirmation1</name>
        <label>ChangeofAddressConfirmation1</label>
        <locationX>373</locationX>
        <locationY>939</locationY>
        <actionName>Contact.Change_of_Address</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BillingAddressonlyScreen</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ChangeofAddressConfirmation1_0</name>
        <label>ChangeofAddressConfirmation1</label>
        <locationX>2194</locationX>
        <locationY>698</locationY>
        <actionName>Contact.Change_of_Address</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BillingdeliveryAddressscreen_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ChangeofAddressConfirmation1_0_0</name>
        <label>ChangeofAddressConfirmation1</label>
        <locationX>924</locationX>
        <locationY>917</locationY>
        <actionName>Contact.Change_of_Address</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BillingdeliveryAddressscreen</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignRoutetovariable</name>
        <label>AssignRoutetovariable</label>
        <locationX>1889</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>varRoute</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryAddressforRoute.Route_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteNotNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRoutetovariable_0</name>
        <label>AssignRoutetovariable</label>
        <locationX>1126</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>varRoute</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryAddressforRoute.Route_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteNotNull_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalDeliverySchedule</name>
        <label>TotalDeliverySchedule</label>
        <locationX>841</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>varTotalAddresses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCountofRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountofDeliveryAddresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varCount</name>
        <label>varCount</label>
        <locationX>683</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>varCountofRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDelAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoopDeliverySchedule.Delivery_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDelSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoopDeliverySchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopthroughDeliverySchedule</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Billing_Address_Only</name>
        <choiceText>Billing Address Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deliver_Billing_Address</name>
        <choiceText>Delivery and Billing Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivery and Billing Address</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CountofDeliveryAddresses</name>
        <label>CountofDeliveryAddresses</label>
        <locationX>974</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>GetDeliveryAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1 schedule</defaultConnectorLabel>
        <rules>
            <name>X2ormoreschedules</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalAddresses</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Morethan1addressscreen</targetReference>
            </connector>
            <label>2ormoreschedules</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_and_Billing_Address_not_the_same</name>
        <label>Delivery and Billing Address not the same</label>
        <locationX>1595</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>CreateDeliveryAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address the Same</defaultConnectorLabel>
        <rules>
            <name>Addressesnotthesame</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryAddressBillingAddressthesame</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_My_Address_0_0</targetReference>
            </connector>
            <label>Addressesnotthesame</label>
        </rules>
    </decisions>
    <decisions>
        <name>RouteNotNull</name>
        <label>RouteNotNull</label>
        <locationX>2080</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>CreateDeliverySchedule_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoute</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddressnotRoutable</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>RouteNotNull_0</name>
        <label>RouteNotNull</label>
        <locationX>1122</locationX>
        <locationY>855</locationY>
        <defaultConnector>
            <targetReference>CreateDeliverySchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoute</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddressnotRoutable_0</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatAddressDecision</name>
        <label>WhatAddressDecision</label>
        <locationX>519</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>LoopthroughDeliverySchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delivery and Billing Address</defaultConnectorLabel>
        <rules>
            <name>Billing_Address_OnlyDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Billing_Address_Only</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_My_Address_0</targetReference>
            </connector>
            <label>Billing Address Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatAddressDecision_0</name>
        <label>WhatAddressDecision</label>
        <locationX>649</locationX>
        <locationY>861</locationY>
        <defaultConnector>
            <targetReference>ChangeofAddressConfirmation1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delivery and Billing Address</defaultConnectorLabel>
        <rules>
            <name>Billing_Address_OnlyDec_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Billing_Address_Only</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeofAddressConfirmation1</targetReference>
            </connector>
            <label>Billing Address Only</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>State</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Address_State__c</picklistField>
        <picklistObject>Delivery_Address__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!Effective_Date} - 1</expression>
    </formulas>
    <formulas>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>startdateminus1</name>
        <dataType>Date</dataType>
        <expression>{!Effective_Date}-1</expression>
    </formulas>
    <interviewLabel>Change address on subscriptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change address on subscriptions</label>
    <loops>
        <name>LoopthroughDeliverySchedule</name>
        <label>LoopthroughDeliverySchedule</label>
        <locationX>683</locationX>
        <locationY>514</locationY>
        <assignNextValueToReference>VarLoopDeliverySchedule</assignNextValueToReference>
        <collectionReference>VarColDeliverySchedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>varCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TotalDeliverySchedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDeliveryAddress</name>
        <label>CreateDeliveryAddress</label>
        <locationX>1819</locationX>
        <locationY>534</locationY>
        <assignRecordIdToReference>varDeliveryAddress</assignRecordIdToReference>
        <connector>
            <targetReference>ConfirmDelAddressScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateDeliveryAddress_0</name>
        <label>CreateDeliveryAddress</label>
        <locationX>1413</locationX>
        <locationY>700</locationY>
        <assignRecordIdToReference>varDeliveryAddress</assignRecordIdToReference>
        <connector>
            <targetReference>ConfirmDelAddressScreen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateDeliverySchedule</name>
        <label>CreateDeliverySchedule</label>
        <locationX>912</locationX>
        <locationY>706</locationY>
        <connector>
            <targetReference>UpdateDelSchedule</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Notes__c</field>
            <value>
                <elementReference>RecordVarDelSch.Customer_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DSI_Id__c</field>
            <value>
                <elementReference>RecordVarDelSch.DSI_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Friday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Friday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Monday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Monday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Saturday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Saturday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Sunday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Sunday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Thursday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Thursday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Tuesday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Tuesday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Wednesday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Wednesday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Address__c</field>
            <value>
                <elementReference>varDeliveryAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Instructions__c</field>
            <value>
                <elementReference>RecordVarDelSch.Delivery_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Product__c</field>
            <value>
                <elementReference>RecordVarDelSch.Offer_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscription_Subscription__c</field>
            <value>
                <elementReference>RecordVarDelSch.subscription_Subscription__c</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateDeliverySchedule_0</name>
        <label>CreateDeliverySchedule</label>
        <locationX>1972</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>UpdateDelSchedule_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Notes__c</field>
            <value>
                <elementReference>RecordVarDelSch.Customer_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DSI_Id__c</field>
            <value>
                <elementReference>RecordVarDelSch.DSI_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Friday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Friday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Monday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Monday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Saturday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Saturday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Sunday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Sunday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Thursday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Thursday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Tuesday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Tuesday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Wednesday__c</field>
            <value>
                <elementReference>RecordVarDelSch.Day_Wednesday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Address__c</field>
            <value>
                <elementReference>varDeliveryAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Instructions__c</field>
            <value>
                <elementReference>RecordVarDelSch.Delivery_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Product__c</field>
            <value>
                <elementReference>RecordVarDelSch.Offer_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscription_Subscription__c</field>
            <value>
                <elementReference>RecordVarDelSch.subscription_Subscription__c</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetActiveSubscription</name>
        <label>GetActiveSubscription</label>
        <locationX>141</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>VarSubscription</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>subscription_Account__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>297</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDeliverScheduleCol</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarSubscription.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDeliverSchedule</name>
        <label>GetDeliverSchedule</label>
        <locationX>1276</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_My_Address</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDelSchedule</elementReference>
            </value>
        </filters>
        <object>Delivery_Schedule__c</object>
        <outputReference>RecordVarDelSch</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Customer_Notes__c</queriedFields>
        <queriedFields>Day_Friday__c</queriedFields>
        <queriedFields>Day_Monday__c</queriedFields>
        <queriedFields>Day_Saturday__c</queriedFields>
        <queriedFields>Day_Sunday__c</queriedFields>
        <queriedFields>Day_Thursday__c</queriedFields>
        <queriedFields>Day_Tuesday__c</queriedFields>
        <queriedFields>Day_Wednesday__c</queriedFields>
        <queriedFields>Delivery_Address__c</queriedFields>
        <queriedFields>DSI_Id__c</queriedFields>
        <queriedFields>Offer_Product__c</queriedFields>
        <queriedFields>Routelookup__c</queriedFields>
        <queriedFields>subscription_Subscription__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Delivery_Instructions__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDeliverScheduleCol</name>
        <label>GetDeliverSchedule</label>
        <locationX>459</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_My_AddressS1</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>subscription_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarSubscription.Id</elementReference>
            </value>
        </filters>
        <object>Delivery_Schedule__c</object>
        <outputReference>VarColDeliverySchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Delivery_Address__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>subscription_Subscription__c</queriedFields>
        <queriedFields>Day_Monday__c</queriedFields>
        <queriedFields>Day_Tuesday__c</queriedFields>
        <queriedFields>Day_Friday__c</queriedFields>
        <queriedFields>Day_Saturday__c</queriedFields>
        <queriedFields>Day_Sunday__c</queriedFields>
        <queriedFields>Day_Thursday__c</queriedFields>
        <queriedFields>DSI_Id__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Routelookup__c</queriedFields>
        <queriedFields>Offer_Product__c</queriedFields>
        <queriedFields>Delivery_Instructions__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDeliveryAddress</name>
        <label>GetDeliveryAddress</label>
        <locationX>1126</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDeliverSchedule</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDelAddress</elementReference>
            </value>
        </filters>
        <object>Delivery_Address__c</object>
        <outputReference>Delivery_Address</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address_City__c</queriedFields>
        <queriedFields>Address_House__c</queriedFields>
        <queriedFields>Address_State__c</queriedFields>
        <queriedFields>Address_Postal_Route__c</queriedFields>
        <queriedFields>Address_Street__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDeliveryAddressforRoute</name>
        <label>GetDeliveryAddressforRoute</label>
        <locationX>1748</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRoutetovariable</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDeliveryAddress</elementReference>
            </value>
        </filters>
        <object>Delivery_Address__c</object>
        <outputReference>DeliveryAddressforRoute</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Route_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDeliveryAddressforRoute_0</name>
        <label>GetDeliveryAddressforRoute</label>
        <locationX>1261</locationX>
        <locationY>707</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRoutetovariable_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDeliveryAddress</elementReference>
            </value>
        </filters>
        <object>Delivery_Address__c</object>
        <outputReference>DeliveryAddressforRoute</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Route_Number__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBillingAddress</name>
        <label>UpdateBillingAddress</label>
        <locationX>2200</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>ChangeofAddressConfirmation1_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBillingAddress_0</name>
        <label>UpdateBillingAddress</label>
        <locationX>657</locationX>
        <locationY>701</locationY>
        <connector>
            <targetReference>WhatAddressDecision_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>varBillCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>varBillPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>varBillState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>varBillStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDelSchedule</name>
        <label>UpdateDelSchedule</label>
        <locationX>784</locationX>
        <locationY>701</locationY>
        <connector>
            <targetReference>UpdateBillingAddress_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDelSchedule</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>startdateminus1</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDelSchedule_0</name>
        <label>UpdateDelSchedule</label>
        <locationX>2091</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>UpdateBillingAddress</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDelSchedule</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>startdateminus1</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordUpdates>
    <screens>
        <name>AddressnotRoutable</name>
        <label>AddressnotRoutable</label>
        <locationX>1690</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_My_Address</targetReference>
        </connector>
        <fields>
            <name>NoRoute</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is not a current route available for this address. Click next to return to create a new address.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddressnotRoutable_0</name>
        <label>AddressnotRoutable</label>
        <locationX>1478</locationX>
        <locationY>847</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_My_Address_0_0</targetReference>
        </connector>
        <fields>
            <name>NoRoute_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;There is not a current route available for this address. Next click next to return to create a new address.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BillingAddressonlyScreen</name>
        <label>BillingAddressonly</label>
        <locationX>366</locationX>
        <locationY>1089</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BillingAddressOnly</name>
            <fieldText>&lt;p&gt;Billing Address has been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BillingdeliveryAddressscreen</name>
        <label>BillingAddressanddeliveryaddress</label>
        <locationX>914</locationX>
        <locationY>1063</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BillingdeliveryAddress</name>
            <fieldText>&lt;p&gt;Delivery and Billing Address has been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BillingdeliveryAddressscreen_0</name>
        <label>BillingAddressanddeliveryaddress</label>
        <locationX>2195</locationX>
        <locationY>884</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BillingdeliveryAddress_0</name>
            <fieldText>&lt;p&gt;Delivery and Billing Address has been updated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_My_Address</name>
        <label>Change My Address</label>
        <locationX>1452</locationX>
        <locationY>521</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delivery_and_Billing_Address_not_the_same</targetReference>
        </connector>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewDeliveryAddress</name>
            <fieldText>&lt;p&gt;My new delivery address is:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StatePicklist</name>
            <choiceReferences>State</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DeliveryAddressBillingAddressthesame</name>
            <dataType>Boolean</dataType>
            <fieldText>My delivery address and billing address are the same</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_My_Address_0</name>
        <label>Change My Address</label>
        <locationX>528</locationX>
        <locationY>701</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateBillingAddress_0</targetReference>
        </connector>
        <fields>
            <name>NewDeliveryAddress_0</name>
            <fieldText>&lt;p&gt;My new billing address is:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeliveryAddress_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varBillPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varBillState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varBillCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varBillStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_My_Address_0_0</name>
        <label>Change My Address</label>
        <locationX>1601</locationX>
        <locationY>700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateDeliveryAddress_0</targetReference>
        </connector>
        <fields>
            <name>NewDeliveryAddress_0_0</name>
            <fieldText>&lt;p&gt;My new billing address is:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeliveryAddress_0_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varBillPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varBillState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varBillCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varBillStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_My_AddressS1</name>
        <label>Change My Address</label>
        <locationX>527</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WhatAddressDecision</targetReference>
        </connector>
        <fields>
            <name>WhatAddress</name>
            <choiceReferences>Deliver_Billing_Address</choiceReferences>
            <choiceReferences>Billing_Address_Only</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmDelAddressScreen</name>
        <label>ConfirmDelAddressScreen</label>
        <locationX>1882</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetDeliveryAddressforRoute</targetReference>
        </connector>
        <fields>
            <name>Confirm</name>
            <fieldText>&lt;p&gt;Please Confirm Address.  If not correct click previous.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Street}&lt;/p&gt;&lt;p&gt;{!City}, {!State} {!Postal_Code}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmDelAddressScreen_0</name>
        <label>ConfirmDelAddressScreen</label>
        <locationX>1314</locationX>
        <locationY>619</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetDeliveryAddressforRoute_0</targetReference>
        </connector>
        <fields>
            <name>Confirm_0</name>
            <fieldText>&lt;p&gt;Please Confirm Address.  If not correct click previous.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Street}&lt;/p&gt;&lt;p&gt;{!City}, {!State} {!Postal_Code}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Morethan1addressscreen</name>
        <label>Morethan1addressscreen</label>
        <locationX>979</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactSupport</name>
            <fieldText>&lt;p&gt;More than one active delivery address has been found. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetActiveSubscription</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Delivery_Address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>DeliveryAddressforRoute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordVarDelSch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarColDeliverySchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountofRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDelAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDelCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDelPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDelSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDelState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDelStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLoopDeliverySchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>varRoute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>varTotalAddresses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
