force-app/main/default/flows/CreditCreditEmailAlert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This action sends the email alert to the subscriber telling them that a credit has been applied</description>
        <name>Send_Credit_Email_Alert</name>
        <label>Send Credit Email Alert</label>
        <locationX>466</locationX>
        <locationY>50</locationY>
        <actionName>Subscription__c.CREDIT</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetSubscription.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <description>This flow sends an email to the subscriber announcing that a credit has been placed on the account</description>
    <interviewLabel>CreditEmailAlert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreditCreateEmailAlert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetJournalRecords</name>
        <label>GetJournalRecords</label>
        <locationX>177</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSubscription</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JournalRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Credit__c</queriedFields>
        <queriedFields>Subscription__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubscription</name>
        <label>GetSubscription</label>
        <locationX>315</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Credit_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetJournalRecords.Subscription__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetJournalRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JournalRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
