force-app/main/default/flows/Feedback_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FeedbackEmail</name>
        <label>FeedbackEmail</label>
        <locationX>1592</locationX>
        <locationY>230</locationY>
        <actionName>Contact.FeedbackResponse</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>ChoiceAltPubNeedMoreInfo</name>
        <choiceText>Alt Pub Need More Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alt Pub Need more Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceBilling</name>
        <choiceText>Billing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceVacationHold</name>
        <choiceText>Vacation Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vacation Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>COMO</name>
        <choiceText>COMO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COMO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delivery</name>
        <choiceText>Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Digital</name>
        <choiceText>Digital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital</stringValue>
        </value>
    </choices>
    <choices>
        <name>FromAltPub_Dispatchable</name>
        <choiceText>From Alt Pub - Dispatchable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>From Alt Pub - Dispatchable</stringValue>
        </value>
    </choices>
    <choices>
        <name>MISC</name>
        <choiceText>MISC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MISC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retention</name>
        <choiceText>Retention</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retention</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verification</name>
        <choiceText>Verification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verification</stringValue>
        </value>
    </choices>
    <constants>
        <name>ConPicklistValueDigitalMembership</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital Membership</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConPicklistValueeEdition</name>
        <dataType>String</dataType>
        <value>
            <stringValue>eEdition</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DigitalCase</name>
        <label>DigitalCase</label>
        <locationX>1409</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>CreateNonDigitalCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Digital Case</defaultConnectorLabel>
        <rules>
            <name>IfDigitalCase</name>
            <conditionLogic>1 or 2</conditionLogic>
            <conditions>
                <leftValueReference>Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConPicklistValueDigitalMembership</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConPicklistValueeEdition</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateDigitalCase</targetReference>
            </connector>
            <label>IfDigitalCase</label>
        </rules>
    </decisions>
    <description>This flow is the feedback form in the self serve community</description>
    <dynamicChoiceSets>
        <name>Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceTypeName</name>
        <dataType>String</dataType>
        <displayField>Type_Name__c</displayField>
        <object>Transaction_Type__c</object>
        <outputAssignments>
            <assignToReference>varChoice</assignToReference>
            <field>Type_Name__c</field>
        </outputAssignments>
        <valueField>Type_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Publication</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Publication__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Setup.VacationTransactions__c.Error_Message__c}</expression>
    </formulas>
    <formulas>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Feedback Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feedback Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDigitalCase</name>
        <label>CreateDigitalCase</label>
        <locationX>1592</locationX>
        <locationY>52</locationY>
        <assignRecordIdToReference>caserecordId.Id</assignRecordIdToReference>
        <connector>
            <targetReference>FeedbackEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varContactInfo.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Self-Serve Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publication__c</field>
            <value>
                <elementReference>Publication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>DigitalCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNonDigitalCase</name>
        <label>CreateNonDigitalCase</label>
        <locationX>1415</locationX>
        <locationY>230</locationY>
        <assignRecordIdToReference>caserecordId.Id</assignRecordIdToReference>
        <connector>
            <targetReference>FeedbackEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varContactInfo.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Self-Serve Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publication__c</field>
            <value>
                <elementReference>Publication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NonDigitalCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>334</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDigitalCaseRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContactInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDigitalCaseRecordType</name>
        <label>GetDigitalCaseRecordType</label>
        <locationX>467</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNonDigitalCaseRecordType</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digital_Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>DigitalCaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetNonDigitalCaseRecordType</name>
        <label>GetNonDigitalCaseRecordType</label>
        <locationX>611</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSubscription</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non_digital_Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NonDigitalCaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSubscription</name>
        <label>GetSubscription</label>
        <locationX>768</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseForm</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_message</targetReference>
        </faultConnector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>varSubscription</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription_Type__c</queriedFields>
        <queriedFields>Publication_Name__c</queriedFields>
        <queriedFields>Offer_Name__c</queriedFields>
        <queriedFields>subscription_Current_Period_Started_At__c</queriedFields>
        <queriedFields>subscription_Current_Period_Ends_At__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>190</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RunningUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varContact</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CaseForm</name>
        <label>CaseForm</label>
        <locationX>922</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DigitalCase</targetReference>
        </connector>
        <fields>
            <name>Select_a_Publication</name>
            <choiceReferences>Publication</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Publication</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_a_feedback_category</name>
            <choiceReferences>Category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a feedback category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContactInfo.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContactInfo.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varContactInfo.HomePhone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varContactInfo.Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message</name>
            <fieldText>Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_message</name>
        <label>Fault message</label>
        <locationX>768</locationX>
        <locationY>272</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultMessage</name>
            <fieldText>&lt;p&gt;{!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1592</locationX>
        <locationY>379</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResponseMessage</name>
            <fieldText>&lt;p&gt;Thank you for your submission. If your feedback requires our response we&apos;ll be contacting you in the next 48 hours.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>caserecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>DigitalCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NonDigitalCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionLogID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Log__c</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varColSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>VarColSubscriptionOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>varColTransactionTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>VarSubscription1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>VarSubscription2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
    <variables>
        <name>varTransactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTransactionType1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
</Flow>
