force-app/main/default/flows/Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignID</name>
        <label>AssignID</label>
        <locationX>759</locationX>
        <locationY>111</locationY>
        <assignmentItems>
            <assignToReference>varTransactionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTransaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vacation_Hold</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceAlternatePub</name>
        <choiceText>Alternate Pub</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternate Pub</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceAltPubNeedMoreInfo</name>
        <choiceText>Alt Pub Need More Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alt Pub Need more Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceBilling</name>
        <choiceText>Billing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>COMO</name>
        <choiceText>COMO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COMO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delivery</name>
        <choiceText>Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Digital</name>
        <choiceText>Digital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital</stringValue>
        </value>
    </choices>
    <choices>
        <name>FromAltPub_Dispatchable</name>
        <choiceText>From Alt Pub - Dispatchable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>From Alt Pub - Dispatchable</stringValue>
        </value>
    </choices>
    <choices>
        <name>MISC</name>
        <choiceText>MISC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MISC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retention</name>
        <choiceText>Retention</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retention</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verification</name>
        <choiceText>Verification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verification</stringValue>
        </value>
    </choices>
    <constants>
        <name>conDelivery</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivery</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Vacation_Hold</name>
        <label>Vacation Hold?</label>
        <locationX>711</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>GetCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vacation_Hold1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTransaction.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Restart_Dates</targetReference>
            </connector>
            <label>Vacation Hold</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChoiceTypeName</name>
        <dataType>String</dataType>
        <displayField>Type_Name__c</displayField>
        <object>Transaction_Type__c</object>
        <outputAssignments>
            <assignToReference>varChoice</assignToReference>
            <field>Type_Name__c</field>
        </outputAssignments>
        <valueField>Type_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment</label>
    <loops>
        <name>loopTranactions</name>
        <label>loopTranactions</label>
        <locationX>578</locationX>
        <locationY>15</locationY>
        <assignNextValueToReference>varTransaction</assignNextValueToReference>
        <collectionReference>VarTransactionType1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetTransactionTypes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTransactionLog</name>
        <label>CreateTransactionLog</label>
        <locationX>1141</locationX>
        <locationY>130</locationY>
        <assignRecordIdToReference>TransactionLogID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateTransactionLog</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restart_Date__c</field>
            <value>
                <elementReference>Restart_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_Date__c</field>
            <value>
                <elementReference>Stop_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetActiveSubscription</name>
        <label>GetActiveSubscription</label>
        <locationX>1053</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTransactionLog</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>varSubscription</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>985</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActiveSubscription</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varAccount</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetTransactionTypes</name>
        <label>GetTransactionTypes</label>
        <locationX>278</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transactions</targetReference>
        </connector>
        <filters>
            <field>Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conDelivery</elementReference>
            </value>
        </filters>
        <object>Transaction_Type__c</object>
        <outputReference>varColTransactionTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>Type_Complaint__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTransactionLog</name>
        <label>UpdateTransactionLog</label>
        <locationX>1299</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>loopTranactions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransactionLogID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>varTransactionType</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Log__c</object>
    </recordUpdates>
    <screens>
        <name>Stop_Restart_Dates</name>
        <label>Stop Restart Dates</label>
        <locationX>916</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <fields>
            <name>VacactionHolds</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Vacation Hold&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stop_Date</name>
            <dataType>Date</dataType>
            <fieldText>Stop Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Restart_Date</name>
            <dataType>Date</dataType>
            <fieldText>Restart Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transactions</name>
        <label>Transactions</label>
        <locationX>475</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopTranactions</targetReference>
        </connector>
        <fields>
            <name>TransactionTypes</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Transaction Type Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_width</name>
                <value>
                    <numberValue>400.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Type_Complaint__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Type Complaint</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_width</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mydata_standard1</name>
                <value>
                    <elementReference>varColTransactionTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_width</name>
                <value>
                    <numberValue>130.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTransactionType1</assignToReference>
                <name>selectedRows_custom1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VarTransactionType1</assignToReference>
                <name>selectedRows_standard1</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Credit</name>
            <extensionName>c:CreditCalculator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetTransactionTypes</startElementReference>
    <status>Draft</status>
    <variables>
        <name>caserecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionLogID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Log__c</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varColTransactionTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>varTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
    <variables>
        <name>varTransactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTransactionType1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
</Flow>
