force-app/main/default/flows/Product_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignEndDatee</name>
        <label>AssignEndDatee</label>
        <locationX>287</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSubscription.subscription_Current_Period_Ends_At__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Promo</targetReference>
        </connector>
    </assignments>
    <description>This flow will allow a CSR to make a product change</description>
    <dynamicChoiceSets>
        <name>Offers</name>
        <dataType>String</dataType>
        <displayField>Offer_Name__c</displayField>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignsID</elementReference>
            </value>
        </filters>
        <object>Campaign_Offer__c</object>
        <outputAssignments>
            <assignToReference>varOfferID</assignToReference>
            <field>Offer__c</field>
        </outputAssignments>
        <sortField>Offer_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Offer_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All active campaigns where Type = CSR Promo</description>
        <name>Promo</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSR Promo</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varCampaignsID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FormProductChangeTransactionType</name>
        <dataType>String</dataType>
        <expression>{!$Setup.VacationTransactions__c.Product_Change_Code__c}</expression>
    </formulas>
    <interviewLabel>Product Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTransactionLog</name>
        <label>CreateTransactionLog</label>
        <locationX>1055</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>GetOffer</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>GetSubscription.subscription_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Product Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>GetSubscription.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Date__c</field>
            <value>
                <elementReference>Pending_Change_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>GetSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>GetTransactionType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetOffer</name>
        <label>GetOffer</label>
        <locationX>1207</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOfferID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Offer__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubscription</name>
        <label>GetSubscription</label>
        <locationX>155</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignEndDatee</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubscriptionID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pending_Change_Date__c</queriedFields>
        <queriedFields>Pending_Offer__c</queriedFields>
        <queriedFields>subscription_Current_Period_Ends_At__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>subscription_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTransactionType</name>
        <label>GetTransactionType</label>
        <locationX>895</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTransactionLog</targetReference>
        </connector>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormProductChangeTransactionType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transaction_Type__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateSubscription</name>
        <label>UpdateSubscription</label>
        <locationX>781</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>GetTransactionType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSubscription.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pending_Change_Date__c</field>
            <value>
                <elementReference>Pending_Change_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Offer__c</field>
            <value>
                <elementReference>varOfferID</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
    </recordUpdates>
    <screens>
        <name>Select_Offer_Screen</name>
        <label>Select Offer Screen</label>
        <locationX>616</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateSubscription</targetReference>
        </connector>
        <fields>
            <name>Select_Offer</name>
            <choiceReferences>Offers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Offer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pending_Change_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>GetSubscription.subscription_Current_Period_Ends_At__c</elementReference>
            </defaultValue>
            <fieldText>Pending Change Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message</name>
            <dataType>String</dataType>
            <fieldText>Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Promo</name>
        <label>Select Promo</label>
        <locationX>439</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Offer_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Promotion</name>
            <choiceReferences>Promo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Promotion</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1313</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProductChangeSuccess</name>
            <fieldText>&lt;p&gt;A Product Change has successfully completed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;New Offer: {!GetOffer.Name}&lt;/p&gt;&lt;p&gt;Effective Date: {!Pending_Change_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetSubscription</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SubscriptionEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCampaignsID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOfferID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubscriptionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
