force-app/main/default/flows/Split_Delivery_on_Subscriptions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignDelScheduleID</name>
        <label>AssignDelScheduleID</label>
        <locationX>4217</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>ActiveDelSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoopDeliverySchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateActiveDelSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRoutetovariable</name>
        <label>AssignRoutetovariable</label>
        <locationX>3214</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>varRoute</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewWeekendDelAddressforroute.Route_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteNotNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRoutetovariable_0</name>
        <label>AssignRoutetovariable</label>
        <locationX>1716</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>varRoute</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewWeekdayDelAddressforRoute.Route_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteNotNull_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Billing_Address_Only</name>
        <choiceText>Billing Address Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deliver_Billing_Address</name>
        <choiceText>Delivery and Billing Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivery and Billing Address</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CreateNew</name>
        <label>CreateNew</label>
        <locationX>1257</locationX>
        <locationY>906</locationY>
        <defaultConnector>
            <targetReference>CreateNewDelSchedulewithCurrentAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateNewAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewWeekdayAddress</targetReference>
            </connector>
            <label>CreateNewAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateNew_0</name>
        <label>CreateNew</label>
        <locationX>2735</locationX>
        <locationY>670</locationY>
        <defaultConnector>
            <targetReference>CreateNewDelSchedulewithCurrentAddress_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateNewAddress_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewWeekdayAddress_0</targetReference>
            </connector>
            <label>CreateNewAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>RouteNotNull</name>
        <label>RouteNotNull</label>
        <locationX>3707</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>GetDeliveryScheduleforProduct_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoute</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddressnotRoutable</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>RouteNotNull_0</name>
        <label>RouteNotNull</label>
        <locationX>2251</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>GetDeliveryScheduleforProduct_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoute</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddressnotRoutable_0</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChoiceDelAddress</name>
        <dataType>String</dataType>
        <displayField>Full_Street__c</displayField>
        <filters>
            <field>subscription_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarSubscription.Id</elementReference>
            </value>
        </filters>
        <object>Delivery_Schedule__c</object>
        <outputAssignments>
            <assignToReference>varDelAddress</assignToReference>
            <field>Delivery_Address__c</field>
        </outputAssignments>
        <sortField>Full_Street__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Full_Street__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>State</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Address_State__c</picklistField>
        <picklistObject>Delivery_Address__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varWeekendDelAdd</name>
        <dataType>String</dataType>
        <displayField>Full_Street__c</displayField>
        <filters>
            <field>subscription_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarSubscription.Id</elementReference>
            </value>
        </filters>
        <object>Delivery_Schedule__c</object>
        <outputAssignments>
            <assignToReference>varweekendaddress</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Full_Street__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Full_Street__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>startdateminus1</name>
        <dataType>Date</dataType>
        <expression>{!Beginning_Date} - 1</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Split Delivery on Subscriptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Split Delivery on Subscriptions</label>
    <loops>
        <name>LoopActiveDelSchedule</name>
        <label>LoopActiveDelSchedule</label>
        <locationX>4068</locationX>
        <locationY>618</locationY>
        <assignNextValueToReference>VarLoopDeliverySchedule</assignNextValueToReference>
        <collectionReference>VarColDeliverySchedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignDelScheduleID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SuccessScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewDelSchedulewithCurrentAddress</name>
        <label>CreateNewDelSchedulewithCurrentAddress</label>
        <locationX>1822</locationX>
        <locationY>925</locationY>
        <assignRecordIdToReference>varWeekdayDelSchedule1</assignRecordIdToReference>
        <connector>
            <targetReference>WeekendAddress</targetReference>
        </connector>
        <inputAssignments>
            <field>Day_Friday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Monday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Thursday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Tuesday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Wednesday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Address__c</field>
            <value>
                <elementReference>varDelAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Product__c</field>
            <value>
                <elementReference>Offer_Product_Weekday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscription_Subscription__c</field>
            <value>
                <elementReference>VarSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewDelSchedulewithCurrentAddress_0</name>
        <label>CreateNewDelSchedulewithCurrentAddress</label>
        <locationX>3345</locationX>
        <locationY>685</locationY>
        <assignRecordIdToReference>NewWeekendDeliverySchedule</assignRecordIdToReference>
        <connector>
            <targetReference>beginningandenddates_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Day_Friday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Monday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Thursday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Tuesday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Wednesday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Address__c</field>
            <value>
                <elementReference>varweekendaddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Product__c</field>
            <value>
                <elementReference>Offer_Product_Weekday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscription_Subscription__c</field>
            <value>
                <elementReference>VarSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateWeekdayDelAddress</name>
        <label>CreateWeekdayDelAddress</label>
        <locationX>1509</locationX>
        <locationY>754</locationY>
        <assignRecordIdToReference>NewWeekdayDelAddress</assignRecordIdToReference>
        <connector>
            <targetReference>ConfirmDelAddressScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_City__c</field>
            <value>
                <elementReference>varDelCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Postal_Route__c</field>
            <value>
                <elementReference>varDelPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_State__c</field>
            <value>
                <elementReference>varDelState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Street__c</field>
            <value>
                <elementReference>varDelStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateWeekdaySchedulewithnewaddress</name>
        <label>CreateWeekdaySchedulewithnewaddress</label>
        <locationX>1809</locationX>
        <locationY>780</locationY>
        <assignRecordIdToReference>varWeekdayDelSchedule1</assignRecordIdToReference>
        <connector>
            <targetReference>WeekendAddress</targetReference>
        </connector>
        <inputAssignments>
            <field>Day_Friday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Monday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Thursday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Tuesday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Wednesday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Address__c</field>
            <value>
                <elementReference>NewWeekdayDelAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Product__c</field>
            <value>
                <elementReference>Offer_Product_Weekday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscription_Subscription__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateWeekendDelAddress_0</name>
        <label>CreateWeekendDelAddress</label>
        <locationX>3036</locationX>
        <locationY>550</locationY>
        <assignRecordIdToReference>NewWeekendDelAddress</assignRecordIdToReference>
        <connector>
            <targetReference>ConfirmDelAddressScreen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_City__c</field>
            <value>
                <elementReference>varDelCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Postal_Route__c</field>
            <value>
                <elementReference>varDelPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_State__c</field>
            <value>
                <elementReference>varDelState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Street__c</field>
            <value>
                <elementReference>varDelStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateWeekendSchedulewithnewaddress_0</name>
        <label>CreateWeekendSchedulewithnewaddress</label>
        <locationX>3345</locationX>
        <locationY>554</locationY>
        <assignRecordIdToReference>NewWeekendDeliverySchedule</assignRecordIdToReference>
        <connector>
            <targetReference>beginningandenddates</targetReference>
        </connector>
        <inputAssignments>
            <field>Day_Saturday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Sunday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Address__c</field>
            <value>
                <elementReference>NewWeekendDelAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Product__c</field>
            <value>
                <elementReference>Offer_Product_Weekday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscription_Subscription__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetActiveNotCreatedTodayDeliverSchedule</name>
        <label>GetActiveNotCreatedTodayDeliverSchedule</label>
        <locationX>3923</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopActiveDelSchedule</targetReference>
        </connector>
        <filters>
            <field>CreatedDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>subscription_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarSubscription.Id</elementReference>
            </value>
        </filters>
        <object>Delivery_Schedule__c</object>
        <outputReference>VarColDeliverySchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Delivery_Address__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>subscription_Subscription__c</queriedFields>
        <queriedFields>Day_Monday__c</queriedFields>
        <queriedFields>Day_Tuesday__c</queriedFields>
        <queriedFields>Day_Friday__c</queriedFields>
        <queriedFields>Day_Saturday__c</queriedFields>
        <queriedFields>Day_Sunday__c</queriedFields>
        <queriedFields>Day_Thursday__c</queriedFields>
        <queriedFields>DSI_Id__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Routelookup__c</queriedFields>
        <queriedFields>Offer_Product__c</queriedFields>
        <queriedFields>Delivery_Instructions__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetActiveSubscription</name>
        <label>GetActiveSubscription</label>
        <locationX>175</locationX>
        <locationY>1029</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>VarSubscription</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>subscription_Account__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>308</locationX>
        <locationY>1028</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WeeklyAddress</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarSubscription.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Does the address have a route</description>
        <name>GetDeliveryAddressRoute</name>
        <label>GetDeliveryAddressRoute</label>
        <locationX>3028</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRoutetovariable</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewWeekendDelAddress</elementReference>
            </value>
        </filters>
        <object>Delivery_Address__c</object>
        <outputReference>NewWeekendDelAddressforroute</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Route_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Does the address have a route</description>
        <name>GetDeliveryAddressRoute_0</name>
        <label>GetDeliveryAddressRoute</label>
        <locationX>1609</locationX>
        <locationY>598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRoutetovariable_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewWeekdayDelAddress</elementReference>
            </value>
        </filters>
        <object>Delivery_Address__c</object>
        <outputReference>NewWeekdayDelAddressforRoute</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Route_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDeliveryScheduleforProduct_0</name>
        <label>GetDeliveryScheduleforProduct</label>
        <locationX>1949</locationX>
        <locationY>642</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateWeekdaySchedulewithnewaddress</targetReference>
        </connector>
        <filters>
            <field>Delivery_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Delivery_Address.Id</elementReference>
            </value>
        </filters>
        <object>Delivery_Schedule__c</object>
        <outputAssignments>
            <assignToReference>Offer_Product_Weekday</assignToReference>
            <field>Offer_Product__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDeliveryScheduleforProduct_0_0</name>
        <label>GetDeliveryScheduleforProduct</label>
        <locationX>3163</locationX>
        <locationY>568</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateWeekendSchedulewithnewaddress_0</targetReference>
        </connector>
        <filters>
            <field>Delivery_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Delivery_Address.Id</elementReference>
            </value>
        </filters>
        <object>Delivery_Schedule__c</object>
        <outputAssignments>
            <assignToReference>Offer_Product_Weekday</assignToReference>
            <field>Offer_Product__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateActiveDelSchedule</name>
        <label>UpdateActiveDelSchedule</label>
        <locationX>4216</locationX>
        <locationY>783</locationY>
        <connector>
            <targetReference>LoopActiveDelSchedule</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActiveDelSchedule</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>startdateminus1</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNewWeekdayDelSchedule</name>
        <label>UpdateNewWeekdayDelSchedule</label>
        <locationX>3617</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>UpdateNewWeekdayDelSchedule1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewWeekendDeliverySchedule</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Beginning_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNewWeekdayDelSchedule1</name>
        <label>UpdateNewWeekdayDelSchedule</label>
        <locationX>3774</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>GetActiveNotCreatedTodayDeliverSchedule</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWeekdayDelSchedule1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Beginning_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNewWeekendDelSchedule_0</name>
        <label>UpdateNewWeekendDelSchedule</label>
        <locationX>3630</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>UpdateNewWeekendDelSchedule_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewWeekendDeliverySchedule</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Beginning_Date_0</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNewWeekendDelSchedule_0_0</name>
        <label>UpdateNewWeekendDelSchedule</label>
        <locationX>3778</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>GetActiveNotCreatedTodayDeliverSchedule</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWeekdayDelSchedule1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Beginning_Date_0</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordUpdates>
    <screens>
        <name>AddressnotRoutable</name>
        <label>AddressnotRoutable</label>
        <locationX>3022</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateNewWeekdayAddress_0</targetReference>
        </connector>
        <fields>
            <name>NoRoute</name>
            <fieldText>&lt;p&gt;&lt;b&gt;There is not a current route available for this address.  Next click next to return to create a new address.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddressnotRoutable_0</name>
        <label>AddressnotRoutable</label>
        <locationX>1524</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateNewWeekdayAddress</targetReference>
        </connector>
        <fields>
            <name>NoRoute_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;There is not a current route available for this address.  Next click next to return to create a new address.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>beginningandenddates</name>
        <label>beginningandenddates</label>
        <locationX>3473</locationX>
        <locationY>554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateNewWeekdayDelSchedule</targetReference>
        </connector>
        <fields>
            <name>DateSelection</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please select the beginning and end dates for this Split Delivery. &lt;i&gt;End date can be left blank if no end date.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beginning_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>beginningandenddates_0</name>
        <label>beginningandenddates</label>
        <locationX>3473</locationX>
        <locationY>683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateNewWeekendDelSchedule_0</targetReference>
        </connector>
        <fields>
            <name>DateSelection_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please select the beginning and end dates for this Split Delivery. &lt;i&gt;End date can be left blank if no end date.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beginning_Date_0</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_0</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmDelAddressScreen</name>
        <label>ConfirmDelAddressScreen</label>
        <locationX>1648</locationX>
        <locationY>705</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetDeliveryAddressRoute_0</targetReference>
        </connector>
        <fields>
            <name>confirm</name>
            <fieldText>&lt;p&gt;Please Confirm Address.  If not correct click previous.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varDelState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!varDelCity}, {!varDelState} {!varDelPostalCode}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmDelAddressScreen_0</name>
        <label>ConfirmDelAddressScreen</label>
        <locationX>3178</locationX>
        <locationY>449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetDeliveryAddressRoute</targetReference>
        </connector>
        <fields>
            <name>confirm_0</name>
            <fieldText>&lt;p&gt;Please Confirm Address.  If not correct click previous.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varDelState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!varDelCity}, {!varDelState} {!varDelPostalCode}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateNewWeekdayAddress</name>
        <label>CreateNewWeekdayAddress</label>
        <locationX>1365</locationX>
        <locationY>754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateWeekdayDelAddress</targetReference>
        </connector>
        <fields>
            <name>EnterNewAddress</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Enter New Weekday Address&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WeekdayAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varDelCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varDelPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varDelState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varDelStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Delivery_Address.Address_State__c</assignToReference>
                <name>inputProvinceOptions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Delivery_Address.Country__c</assignToReference>
                <name>country</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateNewWeekdayAddress_0</name>
        <label>CreateNewWeekdayAddress</label>
        <locationX>2857</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateWeekendDelAddress_0</targetReference>
        </connector>
        <fields>
            <name>EnterNewAddress_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Enter New Weekend Address﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WeekdayAddress_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>USA</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varDelCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varDelPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varDelState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varDelStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Delivery_Address.Address_State__c</assignToReference>
                <name>inputProvinceOptions</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>4224</locationX>
        <locationY>459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SplitDeliverySuccessful</name>
            <fieldText>&lt;p&gt;&lt;b&gt;A split delivery has been created for this Subscription.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WeekendAddress</name>
        <label>WeekendAddress</label>
        <locationX>2609</locationX>
        <locationY>668</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateNew_0</targetReference>
        </connector>
        <fields>
            <name>ChoseWeekendaddress</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Choose Weekend Delivery Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Weekend_Address</name>
            <choiceReferences>ChoiceDelAddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Weekend Address</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Space_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>or_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;If none of the addresses above are the the weekend delivery address please select Create New below&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WeeklyAddress</name>
        <label>WeeklyAddress</label>
        <locationX>1126</locationX>
        <locationY>903</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateNew</targetReference>
        </connector>
        <fields>
            <name>ChoseWeekly</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Choose Weekday Delivery Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Weekday_Address</name>
            <choiceReferences>ChoiceDelAddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Weekday Address</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>or</name>
            <fieldText>&lt;p&gt;&lt;b&gt;If none of the addresses above are the the weekday delivery address please select Create New below&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetActiveSubscription</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActiveDelSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Delivery_Address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>LoopDeliverySchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>LoopDelSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewSelectedWeekendAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>NewWeekdayDelAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewWeekdayDelAddressforRoute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>NewWeekendDelAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewWeekendDelAddressforroute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>NewWeekendDeliverySchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewWeeklyDeliverySchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Offer_Product_Weekday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordVarDelSch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>var_Col_Delivery_Address</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varColDeliveryAddress</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>VarColDeliverySchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>varColWeekendDeliverySchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountofRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDelAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDelAddressID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>varDelCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDelPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDelSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDelState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDelStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLoopDeliverySchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>varRoute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedWeekdayDelAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>VarSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>varTotalAddresses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varWeekdayDelSchedule1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varweekendaddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWeekendDelAddress</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>VarWeekendDeliveryAddress</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>varWeekendDeliverySchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <name>weekendDelAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
</Flow>
