force-app/main/default/flows/Subscription_Restart.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>SourceequalsCSR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CSR</stringValue>
        </value>
    </constants>
    <description>This flow is used to complete a Subscription Restart</description>
    <dynamicChoiceSets>
        <name>Offers</name>
        <dataType>String</dataType>
        <displayField>Offer_Name__c</displayField>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignID</elementReference>
            </value>
        </filters>
        <object>Campaign_Offer__c</object>
        <outputAssignments>
            <assignToReference>varOfferID</assignToReference>
            <field>Offer__c</field>
        </outputAssignments>
        <sortField>Offer_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Offer_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All active campaigns where Type = Kiosk associated with the running user&apos;s partner account.</description>
        <name>Promos</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSR Promo</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varCampaignID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Subscription Restart {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription Restart</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateSubscription</name>
        <label>UpdateSubscription</label>
        <locationX>516</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Offer_Checkout</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubscriptionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>subscription_Offer__c</field>
            <value>
                <elementReference>varOfferID</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
    </recordUpdates>
    <screens>
        <name>Offer_Checkout</name>
        <label>Offer Checkout</label>
        <locationX>660</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Checkout</name>
            <extensionName>c:Checkout</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>waiveActivationFee</name>
                <value>
                    <elementReference>Waive_Activation_Fee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableAutoPay</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editPayment</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subscriptionId</name>
                <value>
                    <elementReference>varSubscriptionId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Offer_Screen</name>
        <label>Select Offer Screen</label>
        <locationX>387</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateSubscription</targetReference>
        </connector>
        <fields>
            <name>Select_Offer</name>
            <choiceReferences>Offers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Offer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Waive_Activation_Fee</name>
            <dataType>Boolean</dataType>
            <fieldText>Waive Activation Fee?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Promo_Screen</name>
        <label>Select Promo Screen</label>
        <locationX>221</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Offer_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Promotion</name>
            <choiceReferences>Promos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Promotion</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_Promo_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOfferID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
