force-app/main/default/flows/Update_Offer_and_Offer_Product_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignOfferProductName</name>
        <label>AssignOfferProductName</label>
        <locationX>764</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>varOfferProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLoopOfferProduct.Product_Abbreviation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOfferProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPerWeek</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLoopOfferProduct.Per_Week__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOfferProduct</targetReference>
        </connector>
    </assignments>
    <description>This flow will update the Offer Product name to the name of the product and the Offer to the Number of weeks and all of the Offer Products</description>
    <formulas>
        <name>FormOfferName</name>
        <dataType>String</dataType>
        <expression>IF({!varIsActivation}=true,
(TEXT({!GetOffer.Number_of_Weeks__c})&amp;&quot; &quot;&amp;(SUBSTITUTE({!varOfferProductName}, &quot;|&quot;, &quot; &quot;)&amp;&quot;=&quot;&amp;TEXT({!varPerWeek})&amp;&quot;*&quot;)),
(TEXT({!GetOffer.Number_of_Weeks__c})&amp;&quot; &quot;&amp;(SUBSTITUTE({!varOfferProductName}, &quot;|&quot;, &quot; &quot;)&amp;&quot;=&quot;&amp;TEXT({!varPerWeek})))
)</expression>
    </formulas>
    <interviewLabel>Update Offer and Offer Product Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Offer and Offer Product Name</label>
    <loops>
        <name>LoopOfferProduct</name>
        <label>LoopOfferProduct</label>
        <locationX>763</locationX>
        <locationY>55</locationY>
        <assignNextValueToReference>varLoopOfferProduct</assignNextValueToReference>
        <collectionReference>GetAllOfferProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOfferProductName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOfferName</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetActivationFee</name>
        <label>GetActivationFee</label>
        <locationX>457</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllOfferProducts</targetReference>
        </connector>
        <filters>
            <field>Is_Activation_Fee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOffer.Id</elementReference>
            </value>
        </filters>
        <object>Offer_Product__c</object>
        <outputAssignments>
            <assignToReference>varIsActivation</assignToReference>
            <field>Is_Activation_Fee__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This element will get all of the offer products that are the children of the Offer</description>
        <name>GetAllOfferProducts</name>
        <label>GetAllOfferProducts</label>
        <locationX>606</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOfferProduct</targetReference>
        </connector>
        <filters>
            <field>Is_Activation_Fee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOffer.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Offer_Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product_Abbreviation__c</queriedFields>
        <queriedFields>Per_Week__c</queriedFields>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOffer</name>
        <label>GetOffer</label>
        <locationX>306</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActivationFee</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOfferProduct.Offer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Offer__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Weeks__c</queriedFields>
        <queriedFields>Per_Week__c</queriedFields>
        <queriedFields>Activation_Fee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOfferProduct</name>
        <label>GetOfferProduct</label>
        <locationX>167</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOffer</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Offer_Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Offer__c</queriedFields>
        <queriedFields>Schedule_Code__c</queriedFields>
        <queriedFields>Is_Activation_Fee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This will update the offer name</description>
        <name>UpdateOfferName</name>
        <label>UpdateOfferName</label>
        <locationX>1041</locationX>
        <locationY>63</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOffer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FormOfferName</elementReference>
            </value>
        </inputAssignments>
        <object>Offer__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOfferProduct</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>OfferProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsActivation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoopOfferProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Offer_Product__c</objectType>
    </variables>
    <variables>
        <name>varOfferProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPerWeek</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varUpdatedOffer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
