force-app/main/default/flows/Vacation_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>ChoiceAltPubNeedMoreInfo</name>
        <choiceText>Alt Pub Need More Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alt Pub Need more Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceBilling</name>
        <choiceText>Billing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceVacationHold</name>
        <choiceText>Vacation Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vacation Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>COMO</name>
        <choiceText>COMO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COMO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delivery</name>
        <choiceText>Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Digital</name>
        <choiceText>Digital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital</stringValue>
        </value>
    </choices>
    <choices>
        <name>FromAltPub_Dispatchable</name>
        <choiceText>From Alt Pub - Dispatchable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>From Alt Pub - Dispatchable</stringValue>
        </value>
    </choices>
    <choices>
        <name>MISC</name>
        <choiceText>MISC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MISC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retention</name>
        <choiceText>Retention</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retention</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verification</name>
        <choiceText>Verification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verification</stringValue>
        </value>
    </choices>
    <description>This flow will create a transaction for a vacation hold</description>
    <dynamicChoiceSets>
        <name>AllActiveSubscriptions</name>
        <dataType>String</dataType>
        <displayField>Offer_Name__c</displayField>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContacts.ContactId</elementReference>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Offer_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceTypeName</name>
        <dataType>String</dataType>
        <displayField>Type_Name__c</displayField>
        <object>Transaction_Type__c</object>
        <outputAssignments>
            <assignToReference>varChoice</assignToReference>
            <field>Type_Name__c</field>
        </outputAssignments>
        <valueField>Type_Name__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Setup.VacationTransactions__c.Error_Message__c}</expression>
    </formulas>
    <formulas>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Vacation Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vacation Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContacts</name>
        <label>GetContacts</label>
        <locationX>189</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSubscription</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RunningUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubscription</name>
        <label>GetSubscription</label>
        <locationX>335</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubscriptionsScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_message</targetReference>
        </faultConnector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContacts.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>varColSubscription</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription_Type__c</queriedFields>
        <queriedFields>Publication_Name__c</queriedFields>
        <queriedFields>subscription_Offer__c</queriedFields>
        <queriedFields>Offer_Name__c</queriedFields>
        <queriedFields>subscription_Current_Period_Started_At__c</queriedFields>
        <queriedFields>subscription_Current_Period_Ends_At__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Fault_message</name>
        <label>Fault message</label>
        <locationX>336</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultMessage</name>
            <fieldText>&lt;p&gt;{!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SubscriptionsScreen</name>
        <label>Subscriptions</label>
        <locationX>490</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Vacation_Request</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;Please choose a Subscription below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subscription</name>
            <choiceReferences>AllActiveSubscriptions</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetContacts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Vacation_Request</name>
        <label>Vacation Request</label>
        <locationX>674</locationX>
        <locationY>58</locationY>
        <flowName>Vacation_Request_on_Subscription</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caserecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionLogID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Log__c</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varColSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>VarColSubscriptionOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>varColTransactionTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>VarSubscription1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>VarSubscription2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
    <variables>
        <name>varTransactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTransactionType1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
</Flow>
