force-app/main/default/flows/Vacation_Request_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getCleanFlowErrorMessage</name>
        <label>getCleanFlowErrorMessage</label>
        <locationX>1095</locationX>
        <locationY>222</locationY>
        <actionName>CleanFlowErrorMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Error</targetReference>
        </connector>
        <inputParameters>
            <name>ErrorGiven</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>cleanErrorMsg</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <choices>
        <name>ChoiceAltPubNeedMoreInfo</name>
        <choiceText>Alt Pub Need More Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alt Pub Need more Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceBilling</name>
        <choiceText>Billing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceVacationHold</name>
        <choiceText>Vacation Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vacation Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>COMO</name>
        <choiceText>COMO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COMO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delivery</name>
        <choiceText>Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Digital</name>
        <choiceText>Digital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital</stringValue>
        </value>
    </choices>
    <choices>
        <name>DigitalOfferNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>DigitalSubscriptionOfferChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>FromAltPub_Dispatchable</name>
        <choiceText>From Alt Pub - Dispatchable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>From Alt Pub - Dispatchable</stringValue>
        </value>
    </choices>
    <choices>
        <name>MISC</name>
        <choiceText>MISC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MISC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retention</name>
        <choiceText>Retention</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retention</stringValue>
        </value>
    </choices>
    <choices>
        <name>VacationHold</name>
        <choiceText>Vacation Hold</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Vacation Package</description>
        <name>VacPac</name>
        <choiceText>Vacation Package</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Verification</name>
        <choiceText>Verification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verification</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DigitalSubscriptionNull</name>
        <label>DigitalSubscriptionNull</label>
        <locationX>1852</locationX>
        <locationY>653</locationY>
        <defaultConnector>
            <targetReference>GetTransactionTypes_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Digital Subscription Not Null</defaultConnectorLabel>
        <rules>
            <name>Is_Digital_Subscription_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSubscription.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSubscription</targetReference>
            </connector>
            <label>Is Digital Subscription Null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>HoldorPac</name>
        <label>HoldorPac</label>
        <locationX>1639</locationX>
        <locationY>865</locationY>
        <defaultConnector>
            <targetReference>GetTransactionTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vac Hold</defaultConnectorLabel>
        <rules>
            <name>Vac_Pac</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VacPac</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTransactionTypes_0</targetReference>
            </connector>
            <label>Vac Pac</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision determines if the days between the begin and end date is greater than 21</description>
        <name>Vacation_Hold_Days</name>
        <label>Vacation Hold Days</label>
        <locationX>703</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>GetTransactionTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Between 14 and 22 Days</defaultConnectorLabel>
        <rules>
            <name>Less_than_or_equal_to_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormBeginminusEnd</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxDaysforVacPac</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hold_Options_Screem</targetReference>
            </connector>
            <label>Less than or equal to 14</label>
        </rules>
        <rules>
            <name>Greater_than_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormBeginminusEnd</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinDaysVacationStop</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Digital_Subscription_Offer_Screen</targetReference>
            </connector>
            <label>Greater than 22</label>
        </rules>
    </decisions>
    <decisions>
        <name>WantsDigitalSubscriptionDec</name>
        <label>WantsDigitalSubscriptionDec</label>
        <locationX>854</locationX>
        <locationY>666</locationY>
        <defaultConnector>
            <targetReference>GetTransactionTypes_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WantsDigitalSubscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Digital_Subscription_Offer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDigitalSubscription</targetReference>
            </connector>
            <label>WantsDigitalSubscription</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChoiceTypeName</name>
        <dataType>String</dataType>
        <displayField>Type_Name__c</displayField>
        <object>Transaction_Type__c</object>
        <outputAssignments>
            <assignToReference>varChoice</assignToReference>
            <field>Type_Name__c</field>
        </outputAssignments>
        <valueField>Type_Name__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DigitalVacationRate</name>
        <dataType>Currency</dataType>
        <expression>{!$Setup.OffersforPromotions__c.Digital_Vacation_Offer_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>This formula displays the difference between the Begin and End Date of the Vacation Hold</description>
        <name>FormBeginminusEnd</name>
        <dataType>Number</dataType>
        <expression>{!End_Date} - {!Begin_Date}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formVacationDigital</name>
        <dataType>String</dataType>
        <expression>{!$Setup.OffersforPromotions__c.Digital_Vacation_Offer__c}</expression>
    </formulas>
    <formulas>
        <name>MaxDaysforVacPac</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.VacationTransactions__c.Max_Days_for_Vac_Pac__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MinDaysVacationStop</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.VacationTransactions__c.Min_Days_for_complete_stop__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Vacation_Hold_Code</name>
        <dataType>String</dataType>
        <expression>{!$Setup.VacationTransactions__c.Vacation_Hold_Code__c}</expression>
    </formulas>
    <formulas>
        <name>Vacation_Package_Code</name>
        <dataType>String</dataType>
        <expression>{!$Setup.VacationTransactions__c.Vacation_Package_Code__c}</expression>
    </formulas>
    <formulas>
        <name>VacationStop</name>
        <dataType>String</dataType>
        <expression>{!$Setup.VacationTransactions__c.Vacation_Restart_Code__c}</expression>
    </formulas>
    <interviewLabel>Vacation Request on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vacation Request on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateSubscription</name>
        <label>CreateSubscription</label>
        <locationX>2114</locationX>
        <locationY>705</locationY>
        <assignRecordIdToReference>varSubscription.Id</assignRecordIdToReference>
        <connector>
            <targetReference>GetTransactionTypes_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>getCleanFlowErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscription_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscription_Current_Period_Ends_At__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscription_Current_Period_Started_At__c</field>
            <value>
                <elementReference>Begin_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscription_Offer__c</field>
            <value>
                <elementReference>formVacationDigital</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>subscription_Status__c</field>
            <value>
                <stringValue>Future</stringValue>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTransactionLog</name>
        <label>CreateTransactionLog</label>
        <locationX>1693</locationX>
        <locationY>340</locationY>
        <assignRecordIdToReference>TransactionLogID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>ConfirmationScreenVacPac_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>getCleanFlowErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Vacation Pack</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Date__c</field>
            <value>
                <elementReference>Begin_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pub__c</field>
            <value>
                <elementReference>varProduct.Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vacationrecordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>varTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTransactionLog_0</name>
        <label>CreateTransactionLog</label>
        <locationX>313</locationX>
        <locationY>930</locationY>
        <assignRecordIdToReference>TransactionLogID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>ConfirmationScreenVacPac</targetReference>
        </connector>
        <faultConnector>
            <targetReference>getCleanFlowErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Date__c</field>
            <value>
                <elementReference>Begin_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vacationrecordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>varTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTransactionLog_0_0</name>
        <label>CreateTransactionLog</label>
        <locationX>2511</locationX>
        <locationY>336</locationY>
        <assignRecordIdToReference>TransactionLogID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>ConfirmationScreenVacPac_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>getCleanFlowErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Vacation Pack</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Date__c</field>
            <value>
                <elementReference>Begin_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pub__c</field>
            <value>
                <elementReference>varProduct.Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vacationrecordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>varTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetActiveSubscription</name>
        <label>GetActiveSubscription</label>
        <locationX>1695</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOfferProduct</targetReference>
        </connector>
        <filters>
            <field>subscription_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>varSubscription</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>subscription_Offer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetActiveSubscription_0</name>
        <label>GetActiveSubscription</label>
        <locationX>351</locationX>
        <locationY>1028</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOfferProduct_0_0</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>varSubscription</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetActiveSubscription_0_0</name>
        <label>GetActiveSubscription</label>
        <locationX>2363</locationX>
        <locationY>598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOfferProduct_0</targetReference>
        </connector>
        <filters>
            <field>subscription_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>varSubscription</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>subscription_Offer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDigitalSubscription</name>
        <label>GetDigitalSubscription</label>
        <locationX>1768</locationX>
        <locationY>739</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DigitalSubscriptionNull</targetReference>
        </connector>
        <filters>
            <field>Subscription_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </filters>
        <filters>
            <field>subscription_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>varSubscription</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOfferProduct</name>
        <label>GetOfferProduct</label>
        <locationX>1829</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubscription.subscription_Offer__c</elementReference>
            </value>
        </filters>
        <object>Offer_Product__c</object>
        <outputReference>varOfferProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOfferProduct_0</name>
        <label>GetOfferProduct</label>
        <locationX>2441</locationX>
        <locationY>746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProduct_0</targetReference>
        </connector>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubscription.subscription_Offer__c</elementReference>
            </value>
        </filters>
        <object>Offer_Product__c</object>
        <outputReference>varOfferProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOfferProduct_0_0</name>
        <label>GetOfferProduct</label>
        <locationX>348</locationX>
        <locationY>1138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProduct_0_0</targetReference>
        </connector>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubscription.subscription_Offer__c</elementReference>
            </value>
        </filters>
        <object>Offer_Product__c</object>
        <outputReference>varOfferProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProduct</name>
        <label>GetProduct</label>
        <locationX>1930</locationX>
        <locationY>426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTransactionLog</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOfferProduct.Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProduct_0</name>
        <label>GetProduct</label>
        <locationX>2545</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTransactionLog_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOfferProduct.Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProduct_0_0</name>
        <label>GetProduct</label>
        <locationX>237</locationX>
        <locationY>1147</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTransactionLog_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOfferProduct.Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeID</name>
        <label>GetRecordTypeID</label>
        <locationX>290</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dates</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vacation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transaction_Log__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vacationrecordtypeid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetTransactionTypes</name>
        <label>GetTransactionTypes</label>
        <locationX>1160</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActiveSubscription</targetReference>
        </connector>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vacation_Hold_Code</elementReference>
            </value>
        </filters>
        <object>Transaction_Type__c</object>
        <outputReference>varTransaction</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTransactionTypes_0</name>
        <label>GetTransactionTypes</label>
        <locationX>513</locationX>
        <locationY>1028</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActiveSubscription_0</targetReference>
        </connector>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vacation_Package_Code</elementReference>
            </value>
        </filters>
        <object>Transaction_Type__c</object>
        <outputReference>varTransaction</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTransactionTypes_0_0</name>
        <label>GetTransactionTypes</label>
        <locationX>2156</locationX>
        <locationY>594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActiveSubscription_0_0</targetReference>
        </connector>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VacationStop</elementReference>
            </value>
        </filters>
        <object>Transaction_Type__c</object>
        <outputReference>varTransaction</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>ConfirmationScreenVacPac</name>
        <label>ConfirmationScreenVacPac</label>
        <locationX>180</locationX>
        <locationY>906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;A Vacation Package Transaction has been created for this Household Account &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Start Date: {!Begin_Date}&lt;/p&gt;&lt;p&gt;End Date: {!End_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreenVacPac_0</name>
        <label>ConfirmationScreenVacPac</label>
        <locationX>1749</locationX>
        <locationY>103</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_0</name>
            <fieldText>&lt;p&gt;A Vacation Hold has been created for this Household Account&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Start Date: {!Begin_Date}&lt;/p&gt;&lt;p&gt;End Date: {!End_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreenVacPac_0_0</name>
        <label>ConfirmationScreenVacPac</label>
        <locationX>2701</locationX>
        <locationY>628</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_0_0</name>
            <fieldText>&lt;p&gt;A Vacation Stop has been created for this Household Account&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Start Date: {!Begin_Date}&lt;/p&gt;&lt;p&gt;End Date: {!End_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Error</name>
        <label>Create Error</label>
        <locationX>1084</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Dates</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!cleanErrorMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dates</name>
        <label>Dates</label>
        <locationX>553</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Vacation_Hold_Days</targetReference>
        </connector>
        <fields>
            <name>dateText</name>
            <fieldText>&lt;p&gt;Please select the dates you would like to suspend and resume print delivery. Your subscription continues to be accessible digitally while you are away.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Begin_Date</name>
            <dataType>Date</dataType>
            <fieldText>Stop delivery beginning</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Resume delivery beginning</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Digital_Subscription_Offer_Screen</name>
        <label>Digital Subscription Offer Screen</label>
        <locationX>714</locationX>
        <locationY>665</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WantsDigitalSubscriptionDec</targetReference>
        </connector>
        <fields>
            <name>DigitalOffer</name>
            <fieldText>&lt;p&gt;Would you like to receive all digital access to Inquirer.com and The Inquirer and Daily News Replica editions for {!DigitalVacationRate} per week during the length of your vacation period?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Digital_Subscription_Offer</name>
            <choiceReferences>DigitalSubscriptionOfferChoice</choiceReferences>
            <choiceReferences>DigitalOfferNo</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hold_Options_Screem</name>
        <label>Hold Options Screen</label>
        <locationX>505</locationX>
        <locationY>783</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HoldorPac</targetReference>
        </connector>
        <fields>
            <name>Hold_Options1</name>
            <choiceReferences>VacationHold</choiceReferences>
            <choiceReferences>VacPac</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Hold Options (please choose one)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>249</locationY>
        <connector>
            <targetReference>GetRecordTypeID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caserecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>cleanErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionLogID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Log__c</objectType>
    </variables>
    <variables>
        <name>vacationrecordtypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varColTransactionTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOfferProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Offer_Product__c</objectType>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>varSubscriptionCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>varTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
    <variables>
        <name>varTransactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTransactionType1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Type__c</objectType>
    </variables>
    <variables>
        <name>varVacPac</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
